---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro'
import { Counter } from '../components/counter.tsx'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <Counter count={0}>
    <h1>Hello, React!</h1>
  </Counter>
</BaseLayout>