---
// Component Imports
import { GlobalStyle } from '../components/global-style';
import { Button } from '../components/button.tsx';
import { Counter } from '../components/counter.tsx';
import { Counter2 } from '../components/counter2.tsx';
import { darkTheme } from '../theme/stitches.config.ts';

const someProps = {
    css: {
        color: 'red',
    }
};

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <GlobalStyle></GlobalStyle>
  </head>
  <body class={darkTheme}>
    <script>
      if (localStorage.getItem('theme') !== 'dark') {
        document.body.removeAttribute('class');
      }
    </script>
    <main>
        <slot />
        <Button {...someProps}>nice</Button>
        <div style="height: 2000px" />
        <Counter count={0}>
            <h1>Hello, React!</h1>
        </Counter>
        <div style="height: 2000px" />
        <Counter2 count={0}>
            <h1>Hello, React!</h1>
        </Counter2>
    </main>
  </body>
</html>
