---
// Component Imports
import { Style } from '../components/style';
import { Button } from '../components/button.tsx';
import { Counter } from '../components/counter.tsx';
import { Counter2 } from '../components/counter2.tsx'

const someProps = {
    css: {
        color: 'red',
    }
};

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <Style></Style>
  </head>
  <body>
    <main>
        <slot />
        <Button {...someProps}>nice</Button>
        <div style="height: 2000px" />
        <Counter count={0} client:visible>
            <h1>Hello, React!</h1>
        </Counter>
        <div style="height: 2000px" />
        <Counter2 count={0} client:visible>
            <h1>Hello, React!</h1>
        </Counter2>
    </main>
  </body>
</html>
